/*
  Icon Font: <%= font_name %>
*/

.fp-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.fp-fw {
  width: 1.28571429em;
  text-align: center;
}
<% (1..8).each do |n| %>
.fp-<%= n %>x {
  font-size: <%= n %>em;
}
<% end %>
<%= font_face %>

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
<%= glyph_selectors %> {
<%= glyph_properties %>
}

<%= glyphs %>
